/* Main wrapper *******************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
  background: #88A6AF;
}
.content {
    clear:both;
    padding: .5762em;
    max-width: 90%;
    margin: 1.129em auto;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Main Transition ******************************************/
.out-left.ng-leave {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    z-index: 3;
    position: absolute;
}

.out-left.ng-leave-active {
    -webkit-transform: translate(-100%, 0px);
    -moz-transform: translate(-100%, 0px);
    -ms-transform: translate(-100%, 0px);
    -o-transform: translate(-100%, 0px);
    transform: translate(-100%, 0px);
    opacity: 0;
    position: absolute;
}

.in-left.ng-enter {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(-100%, 0px);
    -moz-transform: translate(-100%, 0px);
    -ms-transform: translate(-100%, 0px);
    -o-transform: translate(-100%, 0px);
    transform: translate(-100%, 0px);
    opacity: 0;
    z-index: 1;
    position: absolute;
}

.in-left.ng-enter-active {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    position: absolute;
}
/*******Navigation ****************************/

nav{
    max-width:100%;
    height: auto;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #F5F2EB;
    border-radius: .683em;
}

.nav-links{
    list-style: none;
    margin: 2%;
    padding: 0;
    overflow: hidden;
}
.nav-links li{
    float: left;
    display: block;
    padding: 2%;
    background: #f4f8ff;
}
.nav-links li a{
    padding:3%;
    max-width:100%;
    text-decoration: none;
}
.nav-links li:hover{
    background: #435A66;
}
.nav-links li a:hover{
    color:#F5F2EB;
}

/* Main Page */
.cta{
    position: relative;
    color: #F5F2EB;
    background: url("../images/Golf-Main.jpg") no-repeat;
    border:.47829em solid #F5F2EB;
    -webkit-box-shadow: 10px 10px 41px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 41px 4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 41px 4px rgba(0,0,0,0.75);
    height: 37.5em;
}
.cta h1{
    position: absolute;
    top:0;
    left:20%;
    color:#435A66;
}
.cta p {
    position: absolute;
    top: 12%;
    left:30%;
    font-size:1.4em;
}

.cta a {
    position: absolute;
    top:60%;
    left:60%;
    border-top: .1em solid #7e8c94;
    background: #222c33;
    padding: 2% 2.5%;
    border-radius: 1em;
    box-shadow: rgba(0,0,0,1) 0 .1em 0;
    text-shadow: rgba(0,0,0,.4) 0 .1em 0;
    color: white;
    font-size: 1.4em;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.cta a:hover {
    border-top-color: #656d73;
    background: #656d73;
    color: #292829;
}
.cta a:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
.cta img{
    visibility: hidden;
}
section{
    float: left;
    width: 38%;
    height: 15em;
    margin: 1em;
    background-color:#F5F2EB;
    padding:3%;                           %
}
figure{
    float:left;;
    width: 46.875%;
    height:auto;

}

footer {
    clear: both;
    padding: 0 15px;
}
/* Sub Pages ********************************************/
.sub-page-header {
    background-color: #F5F2EB;
    text-align: center;
    border-radius: 3em;
}
.user-Pic{
    display: inline-block;
    width: 13.2376em;
    height: 13.2376em;
    margin: 1em;
}
.user-Pic img{
    width: 13.2376em;
    height: 13.2376em;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,1) 0 .1em 0;
}
.video{
    margin :5%;
}

/** Form***/
form{
    background-color:#F5F2EB;
    padding:5%;
}
input,select,textarea{
    display: block;
}
input[type=text]{
    font-size:1.2em;
    width:20.833333333em;
    background-color:#88A6AF;
    color:#666;
    border-radius: .4082em;
}
label{
    font-size: 2em;
}
input[type=radio] {
    display:none;
}
 
input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    border:1px solid #a8c1d5;
    border-radius: 3px;
    font-size:12px;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    text-decoration:none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; color: #FFFFFF;
    background-color: #CEDCE7; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CEDCE7), to(#596a72));
    background-image: -webkit-linear-gradient(top, #CEDCE7, #596a72);
    background-image: -moz-linear-gradient(top, #CEDCE7, #596a72);
    background-image: -ms-linear-gradient(top, #CEDCE7, #596a72);
    background-image: -o-linear-gradient(top, #CEDCE7, #596a72);
    background-image: linear-gradient(to bottom, #CEDCE7, #596a72)
}
 
input[type=radio]:checked + label {
    background-image: none;
    outline: 0;
    background-color:#88A6AF;
}
/*-------------------------------------------  table -------------------------------------------------------*/
table{
    background: #88A6AF;  /*changes color of the background of the table*/
    border-collapse: collapse;
    width: 100%;
}
tr{
    display: table-row;
    border-color: inherit;
    background-color:#435A66;
    color:#F5F2EB;
}
tr:hover{
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}
.odd{
    background: #F5F2EB; /*changes color of the stripes table*/
    color:#435A66;
}
th{
    text-align: center;
    padding: 1em 1em .5em;
    font-weight: bold;
    font-size: 140%;
    color: #fff;  /*changes color of table hd text*/
    background: #424342; /*changes color of table hd background*/
}
td{
    padding: 1em 1em;
    width: 38%;
    text-align: center;
}
td:first-child{
    border-right: .02em solid #6a7680;
}
th:first-child { border-radius: 5px 0 0 0; }
th:last-child { border-radius: 0 300px 0 0; }
tr:last-child td:first-child { border-radius: 0 0 0 300px; }
tr:last-child td:last-child { border-radius: 0 0 5px 0; }
/*-------------------------------------------  top section-------------------------------------------------------*/

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {


}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .cta p {
        text-align: center;
        top: 40%;
        left:17%;
        color:#f4f8ff;
        font-size:1.2em
    }
    .cta h1{
        font-size:3em;
        top:5%;
        left:10%;
    }
    .cta img{
        width:10%;
    }
    section{
        float: none;
        height: 20em;
        width: 90%;
        font-size:1.4em;
    }
    figure{
        float: none;
        width:90%;
        overflow: hidden;;
    }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .nav-links{
        list-style: none;
        margin: 1%;
        padding: 0;
        overflow: hidden;
    }
    .nav-links li{
        float: left;
        display: block;
        padding: 1%;
        background: #f4f8ff;
    }
    .nav-links li a{
        padding:1%;
        max-width:100%;
        text-decoration: none;
    }
    .cta{
        height:20.834721em;
    }
    .cta a{
        top:70%;
        left:25%;
    }
    .cta p {
        text-align: center;
        top: 30%;
        left:1%;
        color:#f4f8ff;
    }
    .cta h1{
        font-size:1.5em;
        top:5%;
    }
    .cta img{
        width:10%;
    }
    section{
        float: none;
        height: 20em;
        width: 90%;
    }
    figure{
        float: none;
        width:90%;
        overflow: hidden;;
    }
    .video{
        display: none;
    }
    tr:hover{
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
}

/*-------------------------------------------  footer-------------------------------------------------------*/


