<header class="sub-page-header">
    <h1>Register User Pics</h1>
</header>
<div class="user-Pic">
    <img src="images/golfer1.jpg" alt="golferid1"/>
</div>
<div class="user-Pic">
    <img src="images/golfer2.jpg" alt="golferid2"/>
</div>
<div class="user-Pic">
    <img src="images/golfer3.jpg" alt="golferid3"/>
</div>
<div class="user-Pic">
    <img src="images/golfer4.jpg" alt="golferid4"/>
</div>
<div class="user-Pic">
    <img src="images/golfer5.jpg" alt="golferid5"/>
</div>
<div class="user-Pic">
    <img src="images/golfer6.jpg" alt="golferid6"/>
</div>
<div class="video">
    <iframe width="600" height="315" src="//www.youtube.com/embed/3PNsMXe170Q?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<footer>
    &copy; 2014 Jason Woods
</footer>
