<div id="container">
    <section>
        <h3>Welcome to Good Friends Yearly Registration site.</h3>
        <p>The tradition of golf has been The tradition of golf has been
            The tradition of golf has been
            The tradition of golf has been
            The tradition of golf has beenThe tradition of golf has been
            The tradition of golf has been
            v
            vv
            v

            The tradition of golf has been
            The tradition of golf has been
            The tradition of golf has been
            The tradition of golf has been
            v
            v
            The tradition of golf has been
        </p>
    </section>
    <aside>
        <img src="http://upload.wikimedia.org/wikipedia/commons/6/6e/Golfer_swing.jpg" alt="Golf image"/>
    </aside>
</div>
