    <div class="cta">
        <header>
            <img src="images/Golf-Main.jpg" alt="Golf Ball"/>
            <h1>Good Friends Yearly</h1>
            <p>McCall Idaho Golf Tournament Registration site.</p>
        </header>
        <a href="#/register">Register today!</a>
    </div>
    <section class="box2">
        <h3>Recently registered members</h3>
        <ol>
            <li>
                Jason Woods
            </li>
            <li>
                Jeff Bridges
            </li>
            <li>
                Katie Perry
            </li>
            <li>
                Jimmy Jonh
            </li>
        </ol>
    </section>
    <figure>
        <img src="images/Map.png" alt="Mccall Idaho"/>
        <figcaption>Map of McCall Idaho Golf course</figcaption>
    </figure>
    <footer>
        &copy; 2014 Jason Woods
    </footer>
    

