<table border="1" style="width:300px">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Telephone</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Jack</td>
        <td>Sales</td>
        <td>555-5555</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Admin</td>
        <td>555-5555</td>
    </tr>
    <tr>
        <td>James</td>
        <td>Sales</td>
        <td>555-5555</td>
    </tr>
    <tbody>
    <tfoot>
    <tr>
        <td>Total</td>
        <td>Total</td>
        <td>Total</td>
    </tr>
    </tfoot>
</table>