    <header class="sub-page-header">
        <h1>Register to play</h1>
    </header>
    <form action="submit" autocomplete="on">
        <label for="fName">First Name:</label>
        <input type="text" placeholder="Joe" required="true"/>
        <label for="lName">Last Name:</label>
        <input type="text" placeholder="Gingle" required="true"/>
        <label for="team">Team Name:</label>
        <input type="text" placeholder="Your Team Name here"/>
        <label for="number"># on team</label>
        <input type="number"/>
        <label for="sex">Sex:</label>
        <input type="radio" name="sex" value="male">Male<br>
        <input type="radio" name="sex" value="female">Female
        <label for="shirt">Shirt Size</label>
        <select name="shirt" id="shirt">
            <option value="xsm">xsm</option>
            <option value="sm">sm</option>
            <option value="m">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XXL</option>
            <option value="lager">Larger Size</option>
        </select>
        <label for="housing">Housing?</label>
        <select name="housing" id="housing">
            <option value="cabin">Cabin</option>
            <option value="rv">RV</option>
            <option value="other">Other</option>
        </select>
        <label for="special">Special Request</label>
        <textarea name="special" id="special" cols="30" rows="10"></textarea>
    </form>


    <footer>
        &copy; 2014 Jason Woods
    </footer>
